<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>I am {{@blog.title}}.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{asset "css/main.css"}}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			{{> top-bar}}
			<!-- Main -->
				<article id="main">

					<header class="special container">
						<h2>{{{@blog.description}}}</h2>
						<p>{{ghost_head}}</p>
					</header>


					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>My <strong>thoughts</strong> (most recent)</h2>
							</header>

							<div class="row">
								{{#foreach posts}}
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{url}}" class="image featured"><div style="background-image: url('{{image}}')"></div></a>
										<header>
											<h3><strong>{{title}}</strong></h3>
										</header>
										<p>{{excerpt words="40"}}</p>
									</section>

								</div>
								{{/foreach}}
							</div>
							{{pagination}}

						</section>

				</article>

				<!-- CTA -->
					<section id="cta">

						<header>
							<h2>Are you <strong>interested</strong>?</h2>
							<p>Contact me if you have any questions or if you just feel like chatting.<br>Also feel free to hit me up on social media.</p>
						</header>
						<footer>
							<ul class="buttons">
								<li><a href="mailto:timo.jaerv@gmail.com" class="button special">Send me an email</a></li>
							</ul>
						</footer>

					</section>

			{{> footer}}

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
