<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>I am {{@blog.title}}.</title>
	{{> head}}
	</head>
	<body class="index">
		<div id="page-wrapper">
			{{> top-bar}}
			<!-- Main -->
				<article id="main">

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>My <strong>thoughts</strong> (some more)</h2>
							</header>

							<div class="row">
								{{#foreach posts}}
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{url}}" class="image featured"><div style="background-image: url('{{image}}')"></div></a>
										<header>
											<h3><strong>{{title}}</strong></h3>
										</header>
										<p>{{excerpt words="40"}}</p>
									</section>

								</div>
								{{/foreach}}
							</div>
							{{pagination}}

						</section>

				</article>

			{{> footer}}

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
