<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	{{#post}}
	<head>
		<title>{{title}} | {{@blog.title}}</title>
		{{> head}}
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">
		{{> top-bar}}
			<!-- Main -->
				<article id="main">
					<header class="special container">
						<h2><strong>{{{title}}}</strong></h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<img class="image featured clear" src="{{image}}" alt="">
										{{content}}
									</section>
								</div>

						</section>
						<footer class="major">
						  <ul class="buttons">
						    <li><a href="{{@blog.url}}" class="button">Home</a></li>
						  </ul>
</footer>
				</article>
				{{/post}}
				{{> footer}}

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
